<style type="text/css">
  .angular-highlight {
    background-color: rgba(142,109,155,0.2);
    font-weight:    bold;
  }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-7" style="border-right: 1px solid #aaa">
          <label class="col-sm-1"> Ticker: </label>
          <div class="col-md-4">
							<ui-select ng-model="selected.ticker" theme="bootstrap">
								<ui-select-match placeholder="Select or search for a ticker..."> {{$select.selected.sym}} </ui-select-match>
								<ui-select-choices repeat="item in tickers.data | filter: $select.search">
									<div ng-bind-html="item.name | highlight: $select.search"></div>
									<small ng-bind-html="item.sym | highlight: $select.search"></small>
								</ui-select-choices>
							</ui-select>
	        </div>
          <div class="col-md-6">
          <label > Date Range: 
						<input type="daterange" ng-model="datePicker.date" ranges="ranges" placeholder="Pick Date Range"/>
            </label>
					</div>
          <br/>
          <hr/>

          <div class="row">
            <button ng-click="addBasicCalcs()" class="btn btn-default">
                Add Basic Calculations
                <i class="glyphicon glyphicon-plus-sign"></i>
            </button>
            <button ng-click="addAdvancedCalcs()" class="btn btn-default">
                Add Advanced Calculations
                <i class="glyphicon glyphicon-plus-sign"></i>
            </button>
<!--            <button ng-click="selected.calcs.push({})" class="btn btn-default">
                Add Custom Calculation
                <i class="glyphicon glyphicon-plus-sign"></i>
</button> -->
          </div>

          <hr/>
					<ul class="list-group">
            <li ng-repeat="calc in selected.calcs" class="list-group-item" style="min-height: 70px" data-placement="left" title="{{calc.description}}" onmouseenter="$(this).tooltip('show')">
              <label class="col-sm-2"> {{calc.name | uppercase}} </label>
              <label ng-repeat="(name, data) in calc.prop" class="col-sm-3 text-capitalize">  
                {{name}} &nbsp;
                <input type="number" min="0" ng-model="calc.prop[name]" placeholder="{{data}}" style="max-width: 60px"> 
              </label>
              <!--
              <div>
              <div class="col-sm-1">
                <label>Type:
                </label>
              </div>
              <div class="col-sm-3">
                <ui-select ng-model="calc" theme="bootstrap">
                  <ui-select-match placeholder="Select a calculation..."> {{$select.selected.name | uppercase }} </ui-select-match>
                  <ui-select-choices repeat="opt in calcOpts | filter: $select.search">
                    <div ng-bind-html="opt.name | highlight: $select.search | uppercase"></div>
                    <small ng-bind-html="opt.prop.description | highlight: $select.search" data-placement="left" title="Tooltip on left" onmouseenter="$(this).tooltip('show')"></small>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="col-sm-1" ng-repeat"p in calc.prop">
                {{p.keys}}
                <input/>
              </div> -->
                <button class="btn btn-default pull-right" ng-click="selected.calcs.splice($index, 1)">
                      <i class="glyphicon glyphicon-minus-sign"></i>
                </button>
						</li>

					</ul>
          <br/>
          <button type="button" class="btn btn-primary" ng-click="createChart()">Chart</button>
          <br/>
          <br/>
          <highchart id="chart1" config="chartConfig" ng-show="showChart"></highchart>
          <br/>
          <hr/>
          <br/>
        </div>
        <div class="col-md-5">
          <h1>Related Articles</h1>
          <hr/>
          <div class="panel-group">
          <div ng-repeat="article in articles.data" class="panel panel-default">
            <div class="panel-heading" ng-click="show= !show">
                <h4 class="panel-title">
                  <label> {{article.date | date:'MM-dd-yyyy'}} - {{article.title}} </label>
                  <i ng-show="!show" class="glyphicon glyphicon-chevron-down pull-right"></i>
                  <i ng-show="show" class="glyphicon glyphicon-chevron-up pull-right"></i>
                </h4>
            </div>
            <div ng-show="show" class="panel-body">
               <label> Content: </label> 
               <div highlight="article.text" keywords="article.keywords.join(',')"/>

               <label> Keywords: </label> 
               <p>{{article.keywords}}</p>
               <label> Source: </label> <a href="{{article.url}}">{{article.url}}</a>
            </div>
          </div>
    </div>
</div>


<div class="row">
</div>
