<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Reusable Form</title>
	<link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
	<link rel="stylesheet" href="static/bootstrap-theme.min.css">
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>
<body class="container">
	<h2> Flask Web Form </h2>
	<form action="" method="post" role="form">
	{{ form.csrf }}
	<div class="form-group">
		<label for="tickerName">Ticker Name:</label>
		<input type="text" class="form-control" id="tickerName" name="tickerName" placeholder="Stock Ticker">
		
		<label for="sma1">Simple Moving Average 1 (SMA) (eg 10):</label>
		<input type="number" class="form-control" id="sma1" name="sma1" placeholder="First Simple Moving Average (eg 10)">

		<label for="sma2">Simple Moving Average 2 (SMA) (eg 30):</label>
		<input type="number" class="form-control" id="sma2" name="sma2" placeholder="Second Simple Moving Average (eg 30)">

		<label for="dateRange">Length of Process: </label>
		<input type="text" class="form-control" id="dateRange" name="dateRange" placeholder="Period of simulation (1y for 1 year or 10d for 10 days)">

		<label for="nslow">Slow EMA (eg 26): </label>
		<input type="number" class="form-control" id="nslow" name="nslow" placeholder="Slow EMA (eg 26): ">

		<label for="nfast">Fast EMA (eg 12): </label>
		<input type="number" class="form-control" id="nfast" name="nfast" placeholder="Fast EMA (eg 12): ">

		<label for="nema">EMA Signal Line (eg 9): </label>
		<input type="number" class="form-control" id="nema" name="nema" placeholder="EMA Signal Line (eg 9): ">
	</div>
	<button type="submit" class="btn btn-success">Submit</button>
	</form>

	<br>
	
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for message in messages %}
				<!--{{ mdebug("debug: ") }}
				{{ mdebug(message|string) }}-->
				{% if "Error" not in message[1]|string %}
					<div class="alert alert-info">
						<strong> Success! </strong> {{ message[1]|string }}
					</div>
				{% endif %}

				{% if "Error" in message[1]|string %}
					<div class="alert alert-warning">
						{{ message[1]|string }}
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endwith %}
</div>
<br>
</body>
</html>
